<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <!--使用c\p命名空间-->

    <!--此处不配bean的id-->
    <bean class="com.lihuinch.bean.XmlBeanWithoutId"/>

    <bean id="xmlBean" class="com.lihuinch.bean.XmlBean"/>

    <bean id="xmlBeanWithOtherBean" class="com.lihuinch.bean.XmlBeanPropertiesWithStringAndBean"
          c:value="XmlBeanWithStringAndOtherBean.value"
          c:xmlBean1-ref="xmlBean"
          c:xmlBean2-ref="xmlBean"
    />

    <!--有多个构造函数，只调用其中一个-->
    <bean id="xmlBeanWithHasOneMoreConstructor" class="com.lihuinch.bean.XmlBeanWithHasOneMoreConstructor"
          c:value="XmlBeanWithStringAndOtherBean.value"
          c:xmlBean1-ref="xmlBean"
          c:_1-ref="xmlBean"
    />
    <!--使用 property 需要提供对应的setter-->
    <bean id="xmlBeanPropertiesWithStringAndBeanWithoutConstructor"
          class="com.lihuinch.bean.XmlBeanPropertiesWithStringAndBeanWithoutConstructor"
          p:value="XmlBeanPropertiesWithStringAndBeanWithoutConstructor.value"
          p:xmlBean1-ref="xmlBean"
          p:xmlBean2-ref="xmlBean"
    />

    <!--构造函数中有list无法装配-->
    <!--    <bean id="xmlBeanWithListInConstructor" class="com.lihuinch.bean.XmlBeanWithListInConstructor"
        c:value="XmlBeanWithListInConstructor.value"
        c:无法装配
        />-->

    <!--属性有list，但是没有构造器，有setter，使用util装配-->
    <bean id="xmlBeanWithListWithoutConstructor" class="com.lihuinch.bean.XmlBeanWithListWithoutConstructor"
          p:stringList-ref="stringList"
    />
    <!--使用util装配list-->
    <util:list id="stringList">
        <!--没有list内标签<list>-->
        <value>XmlBeanWithListWithoutConstructor.list.[0]</value>
        <value>XmlBeanWithListWithoutConstructor.list.[1]</value>
        <!--</list>-->
    </util:list>
</beans>